.pace-done .navbar-static-side,
.pace-done .nav-header,
.pace-done li.active,
.pace-done #page-wrapper,
.pace-done .footer {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
body {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f3f3f4;
  font-size: 13px;
  color: #676a6c;
  overflow-x: hidden;
  overflow: hidden;
}
.nav.navbar-top-links .dropdown-alerts a {
  font-size: 12px;
}
.nav-header {
  padding: 33px 25px;
  background: url("patterns/header-profile.png") no-repeat;
}
.nav-header a {
  color: #DFE4ED;
}
.nav-header .text-muted {
  color: #8095a8;
}
.navbar-default {
  background-color: #2f4050;
  border-color: #2f4050;
}
.pace-done .nav-header {
  transition: all 0.4s;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus
{
  background-color: #293846;
  color: white;
}

.nav > li > a {
  color: #a7b1c2;
  font-weight: 600;
  padding: 14px 20px 14px 25px;
}
.nav > li.active {
  border-left: 4px solid #19aa8d;
  background: #293846;
}

.navbar-top-links li:last-child {
  margin-right: 40px;
}

.nav.navbar-top-links > li > a:hover,
.nav.navbar-top-links > li > a:focus {
  background-color: transparent;
}

@media (min-width: 768px) {
.navbar-static-side {
    z-index: 2001;
    position: absolute;
    width: 220px;
    height: 100%;
  }
}

@media (max-width: 768px) {
.navbar-static-side {
    display: none;
    z-index: 2001;
    position: fixed;
    width: 220px;
    height: 100%;
  }
}

.navbar-static-top {
  background: #f3f3f4;
}

.form-add-mylist {
  display:flex;
}

.btn,
.btn-primary {
  background: #2f4050;
  border: #2f4050;
  font-weight: 500;
  color: #DFE4ED;
}

.btn:hover,
.btn:focus,
.btn-primary:hover,
.btn-primary:focus {
  background-color: #293846;
  color: white;
}

.input-group {
  display: table;
}

.form-add-mylist,
.form-control {
  padding-top: 15px;
  padding-bottom: 15px;
}

.form-control {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  font-size: 14px;
  margin: 0;
  z-index: 2000;
  box-shadow: none;
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #e5e6e7;
  border-radius: 1px;
  color: inherit;
  display: block;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
  font-size: 14px;
}

.form-control,
.input-group-btn > .btn  {
  height: 40px;
  border-radius: 0px;
}

/*
.fa {
  font-size:24px;
}*/

/* DASHBOARD */
.border-bottom {
  border-bottom: 1px solid #e7eaec !important;
}

.dashboard-header {
  border-top: 0;
  padding: 20px 20px 20px 20px;
}

#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  position: relative !important;
}

@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 220px;
    min-height: 1200px;
  }
}
@media (max-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 0;
    min-height: 1000px;
  }
}

/* BACKGROUNDS */
.white-bg {
  background-color: #ffffff;
}

/* BOX */
.ibox {
  clear: both;
  display: inline-block;
  margin-bottom: 25px;
  margin-left:25px;
  margin-top: 0;
  padding: 0;
  max-width: 350px;  
}

.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 3px 0 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
}

.ibox-title h5 {
  display: inline-block;
  font-size: 14px;
  margin: 0 0 7px;
  padding: 0;
  text-overflow: ellipsis;
  margin-top: 5px;
  font-weight: 600;
  float:left;
}

.ibox-content {
  clear: both;
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
}

.ibox-content > a > img {
  max-width:100%;
  max-height:100%;
}

.ibox-tools {
  display: block;
  float: none;
  margin-top: 0;
  position: relative;
  padding: 0;
  text-align: right;
}

.ibox-tools a {
  cursor: pointer;
  margin-left: 5px;
  color: #c4c4c4;
}

.ibox-tools a.btn-primary {
  color: #fff;
}